<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="author" content="Nieves Borrero & Pablo León">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" rel="stylesheet" >
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<title>Administración Chatbot</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper blue-grey lighten-3">
      <span class="brand-logo center">Gran Capibot</span>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Inicio</a></li>
        <li><a href="/entities">Entidades</a></li>
        <li><a href="/interaction">Interactuar</a></li>
      </ul>
    </div>
  </nav>
        
{{{body}}}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="static/form.js"></script>


        <footer class="page-footer blue-grey lighten-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Contacto</h5>
                <a href="#">departamento de informática</a>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © {{year}} <a href="#">Nieves Borrero</a> y <a href="#">Pablo León</a>
            <span class="right">IES Gran Capitán - Departamento de Informática</span>
          </div>
        </div>
        </footer>
</body>
</html>