<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<title>Panel de administración</title>
</head>
<body>

{{{body}}}

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="static/form.js"></script>
</body>
</html>