<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<title>Panel de administración</title>
</head>
<body>

  <nav>
    <div class="nav-wrapper blue-grey lighten-3">
      <span class="brand-logo center">Gran Capibot</span>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Inicio</a></li>
        <li><a href="/entities">Entidades</a></li>
        <li><a href="/interaction">Interactuar</a></li>
      </ul>
    </div>
  </nav>
        
{{{body}}}

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="static/form.js"></script>
</body>
</html>