<!doctype html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="./static/images/logo.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="author" content="José Lucena & Juan Rueda">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
    <link href="../../static/style/frontend.css" type="text/css" rel="stylesheet">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/mdb.min.css">
    <link rel="stylesheet" href="../../static/css/normalize.css">
    <link rel="stylesheet" href="../../static/css/style.css">


    <title>Administración Chatbot</title>
</head>
<div id="contenedor">
        <header>
            <div id="background_shadow"></div>
                <div id="menuLateral">
                    <div id="cabeceraMenu">
                        <div id="iconoMenuLateral"><i id="botonCancelar" class="fa fa-times"></i></div>
                        <div id="divUsuario">
                            <i class="fa fa-user-circle logoUsuario"></i>
                            {{#each this}}
                                {{#if userlog}}
                                <p id="nombreUsuario"><b>{{userlog}}</b> </p> 
                                {{/if}}
                            {{/each}}
                        </div>
                    </div>
                    <div class="botonesMenuLateral"><i class="fa fa-question opcionIcono"></i><p class="opcionNombre"><a href="/intents">Intents</a></p></div>
                    <div class="botonesMenuLateral"><i class="fa fa-comment-alt opcionIcono"></i><p class="opcionNombre"><a href="/entities">Entidades</a></p></div>
                    <div class="botonesMenuLateral"><i class="fa fa-robot opcionIcono"></i><p class="opcionNombre"><a href="/">Bots</a></p></div>
                    <div class="botonesMenuLateral"><i class="fa fa-user opcionIcono"></i><p class="opcionNombre"><a href="/validate">Usuarios</a></p></div>
                     <!--{{#each this}}
                        {{#if token}}-->
                            <div id="divLog" class="botonesMenuLateral"><i class="fa fa-sign-out-alt opcionIcono"></i><p class="opcionNombre"><a href="/logout">Logout</a></p></div>
                        <!--{{/if}}
                    {{/each}}-->
                </div>
                    
            <div id="divBotonMenu">
                <i id="botonMenu" class="fa fa-bars"></i>
            </div>

            <div id="divTitulo"><h1 id="titulo">Administración</h1></div>
            <div id="divLogo"><img src="../../static/images/logo.png"></div>
        </header>
        <main>{{{body}}}</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../../static/form.js"></script>
<script src="../../static/jquery.easyPaginate.js"></script>
<!--Nuestro JS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="../../static/js/mdb.js"></script>
<script src="../../static/js/index.js"></script>

       <footer>
            <div id="divContacto"><h3>Contacto</h3><p>informatica@iesgrancapitan.org</p></div>
            <div><p>IES Gran Capitán &copy; {{year}}</p></div>
            <div><p>Juan Rueda Morales - Jose Lucena Morente</p></div>
        </footer>
    </div>    
</body>
</html>
<script>
$(function(){
		$('#list_intent').easyPaginate({
    paginateElement: 'a',
    elementsPerPage: 11,
    effect: 'climb',
    prevButtonText: 'Anterior -',
    nextButtonText: ' Siguiente',
    firstButton: false,
    lastButton: false
});
$('#list_entity').easyPaginate({
    paginateElement: 'a',
    elementsPerPage: 11,
    effect: 'climb',
    prevButtonText: 'Anterior -',
    nextButtonText: ' Siguiente',
    firstButton: false,
    lastButton: false
});

})

</script>