<div id="body-wrapper" class="container center-align">
    <div class="card card-create p5 ">
        <form class="row">
            <div class="col s10 offset-s1 ">
                <div class="form-group form-div col s6 offset-s3">
                    <label class="indigo-text" for="input-bot">Nombre</label>
                    <input type="text" class="form-control" id="input-bot" name="inut-bot" placeholder="Nombre del bot">
                </div>
                <div class="form-group form-div col s6 offset-s3">
                    <label class="indigo-text" for="input-token">Token</label>
                    <input type="text" class="form-control" id="input-token" name="input-token" placeholder="Token de Dialogflow">
                </div>
                <br>
                <br>
                <div class="form-group col s6 offset-s3">
                    <button id="btn-add-bot" class="waves-effect waves-light btn indigo">Enviar</button>
                </div>
            </div>

        </form>
    </div>
    <div class="form-group col s6 offset-s3">
        <a href="/" class="amber-text">Volver</a>
    </div>
</div>