<!--<div id="body-wrapper">
<h5 class="indigo-text center">Entidades - Sin칩nimos</h5>
<p class="center-align">
<a class="waves-effect waves-light btn-small indigo right" href="/create_entity" id="btn_create_entity"><i class="material-icons left">add</i>A침adir</a>
</p>
  <div class="row">
    <input id="search-entity" class="col s8 m6 offset-m3 offset-s2" type="text">
    <div id="list_entity" class="collection col s10 m8 offset-m2 offset-s1">
		{{#each this}}
              <a class="collection-item entity indigo-text" id="entity" href="/entities/{{ id }}">{{ name }}</a>
    {{/each }}
	  </div>
  </div>
</div>
</div>-->

<div class="divTituloPagina"><h2 class="tituloPagina">Entidades - Sin칩nimos</h2></div>
        <a class="btn btn-primary botonNuevoBot" id="btn_create_entity">A침adir Entidad</a>
        <div class="divBusqueda">
            <form class="form-inline md-form form-sm formularioBusqueda">
                <input class="form-control form-control-sm mr-3 w-75" id="#search-entity" type="text" placeholder="Search.." aria-label="Search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </form>
        </div>
        
        <div class="card cardListado cardListadoSinBotones">
            <div class="card-body cardBodyListado d-flex flex-column" id="list_entity">
                {{#each this}}
                  {{#each entities}}
              <u></u>
              {{/each}}
                  {{#each this}}
                  <p></p>
                    {{#if id}}
            		      <div class="itemListado listaSinBoton entity">
							          <a href="/entities/{{id}}" id="entity" class="nombreItemListado">{{name}}</a>
						          </div>
						        {{/if}}
                  {{/each}}
                {{/each}}
            </div>
        </div>
        <form action="/">
            <button class="btn btn-warning botonPequenno">Volver</button> 
			  </form>
</div>