<div id="body-wrapper"  >
    <button class="right btn btn-primary red" id="btn-delete-entity">ELIMINAR</button>
    <h4 class="center indigo-text">Editando Entidad</h4>
    <input id="id-entity" type="hidden" name="name" class="validate" value="{{ this.id }}">
    <div class="row ">
        <div class="input-field col s6 offset-s3">
            <input id="name-entity" type="text" name="name" class="validate" value="{{ this.name }}">
            <label for="name">Nombre de la entidad</label>
        </div>
        <div class="input-field col s6 offset-s3">
            <p>Sinónimos</p>
            {{#each this.entries }}
                <input class="synonym" name="sinonym" type="text" class="validate" value="{{ value }}">
	        {{/each}}
            <button class="btn btn-small waves-effect waves-light indigo right" id="add-synonym" name="addSinonym">Añadir Sinónimo
                <i class="material-icons right">add</i>
            </button>
        </div>
        <div class="input-field col s6 offset-s3">
        <button class="btn waves-effect waves-light indigo" type="submit" id="btn-edit-entity" name="submit">Enviar
            <i class="material-icons right">send</i>
        </button>
        </div>
    </div>

</div>
