<div class = 'container'>
	<input type="hidden" id=entity-id value={{this.id}}>
	<h4> Entidad: {{ this.name }}</h4>
    <div  class="card-title">
	{{#each this.entries }}
		<b><h5>{{value}}</h5></b>
        {{#each synonyms}}
        <ul class="collection-item">
            <li>{{this}}</li>
        </ul>
        {{/each}}
	{{/each}}
    </div>
    <div class="row">
        <button class="right btn btn-primary" id="btn-delete-entity">
        <i class="material-icons">delete</i>
    </button>
    </div>
</div>