<div class="container">
<h4>Entidades - Sinónimos</h4>
    <div id="list_entity" class="collection">
		{{#each this}}
              <a class="collection-item" id="intent" href="/{{ id }}">{{ name }}</a>
        {{/each }}
	</div>
</div>