<!--<div id="body-wrapper">
<h5 class="indigo-text center">Intents</h5>
<p class="center-align">
	<a class='btn dropdown-create indigo right' href='#' data-target='dropdown-c'><i class="material-icons left">add</i> A침adir</a>
	<ul id='dropdown-c' class='dropdown-content'>
		<li>
			<a class="text-li indigo-text" href="/create" name="/create">Intent B치sico</a>
		</li>
		<li>
			<a class="image-li indigo-text" href="/create_gif" name="/create_gif">Gif Aleatorio</a>
		</li>
	</ul>
</p>
	<div class="row">
	<input id="search-intent" class="col s8 m6 offset-m3 offset-s2 " type="text">
	<div id="list_intent" class="collection col s10 m8 offset-m2 offset-s1">
		{{#each this}}
		<a class="collection-item intent indigo-text" id="intent" href="/{{ id }}">{{ name }}</a>
		{{/each }}
	</div>
	</div>
</div>-->

  <div class="divTituloPagina"><h2 class="tituloPagina">Intents</h2></div>        
        <div class="dropdown divBotonDesplegable">
            <button class="btn btn-primary dropdown-toggle divBotonDesplegable" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">A침adir Intent</button>
            <div class="dropdown-menu botonDesplegable" aria-labelledby="dropdownMenuMenu">
              <button class="dropdown-item" type="button">Intent B치sico</button>
              <button class="dropdown-item" type="button">GIF Aleatorio</button>
            </div>
          </div>
        <div class="divBusqueda">
            <form class="form-inline md-form form-sm formularioBusqueda">
                <input class="form-control form-control-sm mr-3 w-75" id="search-intent" type="text" placeholder="Search.." aria-label="Search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </form>
        </div>
        
        <div class="card cardListado cardListadoSinBotones">
            <div class="card-body cardBodyListado d-flex flex-column" id="list_intent">
					{{#each this}}
						{{#if id}}
            		    <div class="itemListado listaSinBoton">
							<a href="/{{id}}" id="intent" class="intent nombreItemListado">{{name}}</a>
						</div>
						<hr>
						{{/if}}
					{{/each}}
            </div>
        </div>
        <div class="flex-center divBotonesPequennos" >
			<form action="/">
            <button class="btn btn-warning botonPequenno">Volver</button> 
			<form>
        </div>  