<div id="body-wrapper">
<h5 class="indigo-text center">Intents</h5>
<p class="center-align">
	<a class='btn dropdown-create indigo right' href='#' data-target='dropdown-c'><i class="material-icons left">add</i> Añadir</a>
	<ul id='dropdown-c' class='dropdown-content'>
		<li>
			<a class="text-li indigo-text" href="/create" name="/create">Intent Básico</a>
		</li>
		<li>
			<a class="image-li indigo-text" href="/create_gif" name="/create_gif">Gif Aleatorio</a>
		</li>
	</ul>
</p>
	<div class="row">
	<input id="search-intent" class="col s8 m6 offset-m3 offset-s2 " type="text">
	<div id="list_intent" class="collection col s10 m8 offset-m2 offset-s1">
		{{#each this}}
		<a class="collection-item intent indigo-text" id="intent" href="/{{ id }}">{{ name }}</a>
		{{/each }}
	</div>
	</div>
</div>
