<div class = 'container'>

<h4 class="flow-text">Panel de interacción - Realiza aquí las comprobaciones necesarias en tiempo real</h4>
          
<div class="center-align">
<iframe
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/67ab0d94-a90b-424f-93e2-2951261fa7d8">
</iframe>
</div>
</div>