 <main>
            <div class="card tarjeta" id="cardLogin" >
                <div class="card-body d-flex flex-column cardBody">
                  <h5 class="card-title">Login</h5>
                  <form class="d-flex flex-column align-items-center"> 
                    <div class="md-form">
                        <input type="text" id="inputUsuario" class="form-control">
                        <label for="inputUsuario">Usuario</label>
                    </div>
                    <div class="md-form">
                        <input type="password" id="inputContraseña" class="form-control">
                        <label for="inputContraseña">Contraseña</label>
                      </div>
                    <button type="button" class="btn btn-primary botonEntrar">Entrar</button>
                </form>
                </div>
              </div>
            <button type="button" class="btn btn-primary" id="botonRegistarme">Registrarme</button>          
        </main>