<div id="body-wrapper" class="container center-align">
    <form class="row">
        <div class="card col s10 offset-s1 card-login">
            <div class="input-field col s6 offset-s3 form-div">
                <input type="text" class="form-control" id="input-name-user" name="input-name-user">
                <label class="indigo-text" for="input-name-user">Usuario</label>

            </div>
            <div class="input-field col s6 offset-s3">
                <input type="password" class="form-control" id="input-password" name="input-password">
                <label class="indigo-text" for="input-password">Contraseña</label>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class=" col s6 offset-s3">
                <button id="btn-login" class="left waves-effect waves-light btn indigo">Enviar</button>
                <span id="span" class="red-text right"></span>

            </div>
        </div>
    </form>
    <br>
    <br>
    <a href="/register" id="btn-open-register" class="amber-text">Regístrate</a>
</div>