<div class="container center-align">
    <h4>Crear un nuevo Intent</h4>
    <div class="row ">
            <div class="input-field col s12">
                <input id="name" type="text" name="name" id='name' class="validate">
                <label for="name">Nombre del intent</label>
            </div>
            <div class="input-field col s12">
                <p>Preguntas del usuario</p>
                <input class="user" name="user" type="text" class="validate">
                <button class="btn btn-small waves-effect waves-light right" id="addUserText" name="addUserText">A単adir Pregunta
                    <i class="material-icons right">add</i>
                </button>
            </div>
            <button class="btn btn-small waves-effect waves-light right" id="add-response" name="addResponse">A単adir Respuesta
                    <i class="material-icons right">add</i>
            </button>
         <!--   <div class="input-field col s12">
                <p>Respuestas del chatbot</p>
                <input class="response" name="response0" type="text" class="validate">
                <button class="btn btn-small waves-effect waves-light right" id="addResponse0" name="addResponse">A単adir variante
                    <i class="material-icons right">add</i>
                </button>
            </div>
            <div class="input-field col s12">
                <p>Respuestas del chatbot</p>
                <input class="response" name="response1" type="text" class="validate">
                <button class="btn btn-small waves-effect waves-light right" id="addResponse1" name="addResponse">A単adir variante
                    <i class="material-icons right">add</i>
                </button>
            </div>
            <div class="input-field col s12">
                <p>Gif</p>
                <input class="response" name="gifResponse" type="text" class="validate">
            </div>
            -->
            <button class="btn waves-effect waves-light" type="submit" id="submit" name="submit">Enviar
                <i class="material-icons right">send</i>
            </button>
    </div>

</div>