<div id="body-wrapper" class="container center-align">
    <div class="card-create card">
    <h5>Crear un nuevo Intent</h5>
    <div class="row ">
        <div class="input-field col s12 ">
            <input id="name" type="text" name="name" class="validate  ">
            <label for="name" >Nombre del intent</label>
        </div>
        <p id="err-name" class="red-text"></p>
        <div class="input-field col s12">
            <p>Preguntas del usuario</p>
            <div>
                <input class="user input" id="first-question" name="user" type="text" class="validate">
                <p class="span red-text"></p>
                <ul class="collection"></ul>
            </div>
            <p id="err-user" class="red-text"></p>
            <button class="btn btn-small waves-effect waves-light right indigo" id="addUserText" name="addUserText">Añadir Pregunta
                <i class="material-icons right">add</i>
            </button>
        </div>
        <div class="select input-field col s12">
            <a class='dropdown-trigger btn indigo' href='#' data-target='dropdown'>Añadir Respuesta</a>
            <ul id='dropdown' class='dropdown-content'>
                <li>
                    <a class="text-li indigo-text" name="type-text">Texto</a>
                </li>
                <li>
                    <a class="image-li indigo-text" name="type-image">Imagen</a>
                </li>
                <li>
                    <a class="image-li indigo-text" name="type-gif">Gif</a>
                </li>
                <li>
                    <a class="link-li indigo-text" name="type-link">Enlace</a>
                </li>
                <li>
                    <a class="link-li indigo-text" name="type-document">Documento</a>
                </li>
            </ul>

        </div>
        <p id="err" class="red-text"></p>
        </div>
        <button class="btn waves-effect waves-light indigo" type="submit" id="submit" name="submit">Enviar
            <i class="material-icons right">send</i>
        </button>
        <button class="btn waves-effect waves-light indigo" type="submit" id="cancel" name="submit">Cancelar
        </button>
    </div>
   <ul class="collapsible">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">devices</i>Opciones avanzadas</div>
                <div class="collapsible-body">
                    <div class="input-field col s6 offset-s3">
                        <input id="contextIn" type="text" name="contextIn" class="validate">
                        <label for="contextIn">Contexto de entrada</label>
                    </div>
                    <div class="input-field col s6 offset-s3">
                        <input id="contextOut" type="text" name="contextOut" class="validate">
                        <label for="contextOut">Contexto de salida</label>
                    </div>
                </div>
            </li>
        </ul>
</div>