<div id="body-wrapper" class="container center-align">
    <div class="card p5 card-create">
    <h5>Crear un nuevo Intent: Gif Aleatorio</h5>
    <div class="row ">
        <div class="input-field col s12">
            <input id="name" type="text" name="name" class="validate">
            <label for="name">Nombre del intent</label>
            <p id="err-name" class="red-text"></p>

        </div>
        <div class="input-field col s12">
            <p>Preguntas del usuario</p>
            <div>
                <input class="user input" name="user" type="text" class="validate">
                <p class="span red-text"></p>
                <p class="red-text" id="err-user"></p>
                <ul class="collection"></ul>
            </div>
            <button class="btn btn-small waves-effect waves-light right  indigo" id="addUserText" name="addUserText">Añadir Pregunta
                <i class="material-icons right">add</i>
            </button>
        </div>
        <div class="select input-field col s12">
            <p>Palabra clave</p>
            <input class="tag_gif" id="input-tag" name="tag_gif" type="text" class="validate">
            <p id="err-tag" class="red-text"></p>

        </div>

        <button class="btn waves-effect waves-light  indigo" type="submit" id="send_new_gif" name="send_new_gif">Enviar
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>
</div>