<div class="container center-align">
    <h4>Crear un nuevo Intent</h4>
    <div class="row ">
        <div class="input-field col s12">
            <input id="name" type="text" name="name" class="validate">
            <label for="name">Nombre del intent</label>
        </div>
        <div class="input-field col s12">
            <p>Preguntas del usuario</p>
            <div>
                <input class="user input" name="user" type="text" class="validate">
                <span class="red-text"></span>
                <ul class="collection"></ul>
                <button class="btn-delete-variant btn btn-primary indigo"><i class="material-icons">delete</i></button>
                </div>
            <button class="btn btn-small waves-effect waves-light right" id="addUserText" name="addUserText">Añadir Pregunta
                <i class="material-icons right">add</i>
            </button>
        </div>
        <div class="select input-field col s12">
            <a class='dropdown-trigger btn' href='#' data-target='dropdown'>Añadir Respuesta</a>
            <ul id='dropdown' class='dropdown-content'>
                <li>
                    <a class="text-li" name="type-text">Texto</a>
                </li>
                <li>
                    <a class="image-li" name="type-image">Imagen</a>
                </li>
                <li>
                    <a class="image-li" name="type-gif">Gif</a>
                </li>
                <li>
                    <a class="link-li" name="type-link">Enlace</a>
                </li>
                <li>
                    <a class="link-li" name="type-document">Documento</a>
                </li>
            </ul>

        </div>


        <button class="btn waves-effect waves-light" type="submit" id="submit" name="submit">Enviar
            <i class="material-icons right">send</i>
        </button>
    </div>
   <ul class="collapsible">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">filter_drama</i>Opciones avanzadas</div>
                <div class="collapsible-body">
                    <div class="input-field col s6 offset-s3">
                        <input id="contextIn" type="text" name="contextIn" class="validate">
                        <label for="contextIn">Contexto de entrada</label>
                    </div>
                    <div class="input-field col s6 offset-s3">
                        <input id="contextOut" type="text" name="contextOut" class="validate">
                        <label for="contextOut">Contexto de salida</label>
                    </div>
                </div>
            </li>
        </ul>
</div>