<div class="container center-align">
    <h4>Crear un nuevo Intent: Gif Aleatorio</h4>
    <div class="row ">
        <div class="input-field col s12">
            <input id="name" type="text" name="name" class="validate">
            <label for="name">Nombre del intent</label>
        </div>
        <div class="input-field col s12">
            <p>Preguntas del usuario</p>
            <div>
                <input class="user input" name="user" type="text" class="validate">
                <span class="red-text"></span>
                <ul class="collection"></ul>
                <button class="btn-delete-variant btn btn-primary indigo"><i class="material-icons">delete</i></button>
                </div>
            <button class="btn btn-small waves-effect waves-light right" id="addUserText" name="addUserText">Añadir Pregunta
                <i class="material-icons right">add</i>
            </button>
        </div>
        <div class="select input-field col s12">
             <p>Palabra clave</p>
            <input class="tag_gif" name="tag_gif" type="text" class="validate">
        </div>

        <button class="btn waves-effect waves-light" type="submit" id="send_new_gif" name="send_new_gif">Enviar
            <i class="material-icons right">send</i>
        </button>
    </div>

</div>