<div class="container center-align">
    <h4>Crear un nuevo Intent</h4>
    <div class="row ">
            <div class="input-field col s12">
                <input id="name" type="text" name="name" id='name' class="validate">
                <label for="name">Nombre del intent</label>
            </div>
            <div class="input-field col s12">
                <p>Preguntas del usuario</p>
                <input class="user" name="user" type="text" class="validate">
                <button class="btn btn-small waves-effect waves-light right" id="addUserText" name="addUserText">Añadir Pregunta
                    <i class="material-icons right">add</i>
                </button>
            </div>
            <div class="select input-field col s12">
                <a class='dropdown-trigger btn' href='#' data-target='dropdown'>Añadir Respuesta</a>
                <ul id='dropdown' class='dropdown-content'>
                    <li><a name="type-text">Texto</a></li>
                    <li><a name="type-image">Imagen</a></li>
                    <li><a name="type-image">Gif</a></li>
                    <li><a name="type-link">Enlace</a></li>
                    <li><a name="type-link">Documento</a></li>
                </ul>

            </div>
            <button class="btn waves-effect waves-light" type="submit" id="submit" name="submit">Enviar
                <i class="material-icons right">send</i>
            </button>
    </div>

</div>
