<!--<div class="container center-align" id="body-wrapper">
    <h4>Crear una nueva Entidad</h4>
    <input type="hidden" id=entity-id value={{this.id}}>
    <div class="row ">
        <div class="input-field col m6 s8 offset-m3 offset-s2">

            <input id="name-entity" type="text" name="name" class="validate" value="{{ this.name }}">
            <label for="name">Nombre de la entidad</label>
            <span id="err-entity-name" class="red-text"></span>

        </div>
        
        <div class="input-field col m6 s8 offset-m3 offset-s2">
            <p>Sinónimos</p>
            <input class="synonym" name="sinonym" type="text" class="validate">
            <span id="err-entity-syn" class="red-text"></span>
            <button class="btn btn-small waves-effect waves-light right indigo" id="add-synonym" name="addSinonym">Añadir Sinónimo
                <i class="material-icons right">add</i>
            </button>
        </div>
        <div class="input-field col m6 s8 offset-m3 offset-s2">
        
        <button class="btn waves-effect waves-light indigo" type="submit" id="btn-create-entity" name="submit">Enviar
            <i class="material-icons right">send</i>
        </button>
        </div>
    </div>

</div>-->
            <div class="card tarjeta">
                <div class="card-body d-flex flex-column cardBody">
                  <h5 class="card-title">Crear Entidad</h5>
                  <input type="hidden" id="entity-id" value={{this.id}}>
                  <form class="d-flex flex-column align-items-center"> 
                    <!-- Material input -->
                    <div class="md-form">
                        <input type="text" id="name-entity" name="name" class="validate form-control" value="{{this.name}}">
                        <label for="name">Nombre</label>
                        <span id="err-entity-name" class="red-text"></span>
                    </div>
                    <h5 class="subtituloTarjeta">Sinónimos</h5>
                    <div class="md-form synonym_block">
                        <input type="text" class="form-control inputSinonimo synonym validate" name="synonym">
                        <span id="err-entity-syn" class="red-text"></span>
                    </div>
                    <button type="button" class="btn btn-secondary botonAnnadir" id="edit-synonym" name="addSinonym">Añadir</button>
                    <button type="submit" name="submit" class="btn btn-primary botonEntrar" id="btn-create-entity">Crear</button>                    
                </form>
                </div>
              </div>
            <form action="/entities">
                <button class="btn btn-warning" id="botonVolver">Volver</button>
            </form>      