<!--<div id="body-wrapper" class="container center-align">
    <div class="card p5 card-create">
    <h5>Crear un nuevo Intent: Gif Aleatorio</h5>
    <div class="row ">
        <div class="input-field col s12">
            <input id="name" type="text" name="name" class="validate">
            <label for="name">Nombre del intent</label>
            <p id="err-name" class="red-text"></p>

        </div>
        <div class="input-field col s12">
            <p>Preguntas del usuario</p>
            <div>
                <input class="user input" name="user" type="text" class="validate">
                <p class="span red-text"></p>
                <p class="red-text" id="err-user"></p>
                <ul class="collection"></ul>
            </div>
            <button class="btn btn-small waves-effect waves-light right  indigo" id="addUserText" name="addUserText">Añadir Pregunta
                <i class="material-icons right">add</i>
            </button>
        </div>
        <div class="select input-field col s12">
            <p>Palabra clave</p>
            <input class="tag_gif" id="input-tag" name="tag_gif" type="text" class="validate">
            <p id="err-tag" class="red-text"></p>

        </div>

        <button class="btn waves-effect waves-light  indigo" type="submit" id="send_new_gif" name="send_new_gif">Enviar
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>
</div>-->





<div class="divTituloPagina"><h2 class="tituloPagina">Intent: GIF Aleatorio</h2></div>
        <form class="form-inline md-form form-sm inputEditable" id="inputNombreEntidad">
            <div class="md-form">
                <h6 class="subtituloEntidad">Nombre del Intent</h6>
                <input type="text" id="name" name="name" class="form-control validate" placeholder="Nombre">
                <p id="err-name" class="red-text"></p>
            </div>
        </form>
        <div class="card cardDetallesIntent cardPreguntasUsuario">
            <h6 class="subtituloEntidad">Preguntas del usuario</h6>
            <hr class="hrTitulo">
            <form class="form-inline md-form form-sm">
                <div class="md-form divPregunta ">
                    <input type="text" class="form-control user input" name="user" placeholder="Pregunta">
                    <p class="red-text" id="err-user"></p>
                </div>
                <div id="collection"></div>
                <div class="divBoton btnPregunta">
                    <button type="button" id="addUserText" name="addUserText" class="btn btn-indigo botonMediano">Añadir</button>
                </div>   
            </form>     
        </div>
        <div class="card cardDetallesIntent cardResp cardRespuesta">
            <h6 class="subtituloEntidad">Palabras Clave</h6>
            <hr class="hrTitulo">
            <form class="form-inline md-form form-sm">
                <div class="md-form divPalabrasClave ">
                    <input type="text" class="form-control tag_gif validate" name="tag_gif" id="input-tag" placeholder="Respuesta">
                    <p id="err-tag" class="red-text"></p>
                </div>  
            </form>
        </div>

        <div class="flex-center divBotonesPequennos">
            <form action="/intents">
                <button class="btn btn-warning botonPequenno backButton">Cancelar</button>
            </form>
            <button type="submit" id="send_new_gif" name="send_new_gif" class="btn btn-indigo botonPequenno">Guardar</button> 
        </div>

