<!--<div id="body-wrapper" class="container center-align">
    <div class="card-create card">
    <h5>Crear un nuevo Intent</h5>
    <div class="row ">
        <div class="input-field col s12 ">
            <input id="name" type="text" name="name" class="validate  ">
            <label for="name" >Nombre del intent</label>
        </div>
        <p id="err-name" class="red-text"></p>
        <div class="input-field col s12">
            <p>Preguntas del usuario</p>
            <div>
                <input class="user input" id="first-question" name="user" type="text" class="validate">
                <p class="span red-text"></p>
                <ul class="collection"></ul>
            </div>
            <p id="err-user" class="red-text"></p>
            <button class="btn btn-small waves-effect waves-light right indigo" id="addUserText" name="addUserText">Añadir Pregunta
                <i class="material-icons right">add</i>
            </button>
        </div>
        <div class="select input-field col s12">
            <a class='dropdown-trigger btn indigo' href='#' data-target='dropdown'>Añadir Respuesta</a>
            <ul id='dropdown' class='dropdown-content'>
                <li>
                    <a class="text-li indigo-text" name="type-text">Texto</a>
                </li>
                <li>
                    <a class="image-li indigo-text" name="type-image">Imagen</a>
                </li>
                <li>
                    <a class="image-li indigo-text" name="type-gif">Gif</a>
                </li>
                <li>
                    <a class="link-li indigo-text" name="type-link">Enlace</a>
                </li>
                <li>
                    <a class="link-li indigo-text" name="type-document">Documento</a>
                </li>
            </ul>

        </div>
        <p id="err" class="red-text"></p>
        </div>
        <button class="btn waves-effect waves-light indigo" type="submit" id="submit" name="submit">Enviar
            <i class="material-icons right">send</i>
        </button>
        <button class="btn waves-effect waves-light indigo" type="submit" id="cancel" name="submit">Cancelar
        </button>
    </div>
   <ul class="collapsible">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">devices</i>Opciones avanzadas</div>
                <div class="collapsible-body">
                    <div class="input-field col s6 offset-s3">
                        <input id="contextIn" type="text" name="contextIn" class="validate">
                        <label for="contextIn">Contexto de entrada</label>
                    </div>
                    <div class="input-field col s6 offset-s3">
                        <input id="contextOut" type="text" name="contextOut" class="validate">
                        <label for="contextOut">Contexto de salida</label>
                    </div>
                </div>
            </li>
        </ul>
</div>-->



<div class="divTituloPagina"><h2 class="tituloPagina">Crear Intent</h2></div>
        <form class="form-inline md-form form-sm inputEditable" id="inputNombreEntidad">
            <div class="md-form">
                <h6 class="subtituloEntidad">Nombre del Intent</h6>
                <input type="text" id="name" class="form-control validate" placeholder="Nombre" name="name" >
            </div>
        <p id="err-name" class="red-text"></p>
        </form>
        <input type="hidden" id="input-id" value={{this.id}}>
        <div class="card cardDetallesIntent cardPreguntasUsuario">
            <h6 class="subtituloEntidad">Preguntas del usuario</h6>
            <hr class="hrTitulo">
            <form class="form-inline md-form form-sm">
                <div class="md-form divPregunta">
                    <input type="text" class="form-control validate user" placeholder="Pregunta" id="first-question" name="user">
                </div>
                <div class="divBoton btnPregunta">
                    <button type="button" class="btn btn-indigo botonMediano"  id="addUserText" name="addUserText">Añadir</button>
                </div>   
            </form>
            <p id="err-user" class="red-text"></p>     
        </div>
        <!--

            -->
            <div class="card cardDetallesIntent cardResp cardRespuesta bloq type-text">
                    <input type="hidden" name="hidden" value=""/>
                    <h6 class="subtituloEntidad">Respuesta</h6>
                    <hr class="hrTitulo">
                    <form class="form-inline md-form form-sm">
                        <div class="md-form divRespuesta bloq type-text">
                            <input type="text" class="form-control response validate" placeholder="Respuesta" id="input0">
                        </div>
                        <div class="divBoton btnRespuesta">
                                <!--<button class="btn btn-warning botonMediano btn-delete-bloq">Borrar</button>-->
                                <button class="btn btn-indigo botonMediano btnAddVariant" name="addResponse">Añadir</button>
                        </div>   
                    </form>
            </div>

        <!--<div class="flex-center divBotonesPequennos btn-respuesta" id="accordion2">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="subtituloEntidad">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Añadir Respuesta</button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse bodyOpAvan" aria-labelledby="headingTwo" data-parent="#accordion2">
                    <div class="md-form">
                        <button type="button" class="text-li indigo-text addRespuesta form-control btn btn-indigo" name="type-text">Texto</button>
                        <button type="button" class="image-li indigo-text addRespuesta form-control btn btn-indigo" name="type-image">Imagen/Gif</button>
                        <button type="button" class="link-li indigo-text addRespuesta form-control btn btn-indigo" name="type-link">Enlace/Documento</button>
                    </div>
                </div>
            </div>
        </div>-->
        <p id="err" class="red-text"></p>

        <div id="accordion" class="cardDetallesIntent cardResp opAvan">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <button class="btn btn-link OpAv" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Opciones Avanzadas</button>
                </div>
                <div id="collapseOne" class="collapse bodyOpAvan" aria-labelledby="headingOne" data-parent="#accordion">
                   <form class="d-flex flex-column align-items-center formOpAvan"> 
                        <div class="md-form">
                            <input type="text" id="contextIn" class="form-control" placeholder="Cont. Entrada">
                            <input type="text" id="contextOut" class="form-control" placeholder="Cont. Salida">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="flex-center divBotonesPequennos" >
            <form action="/intents">
                <button name="submit" class="btn btn-warning botonPequenno backButton">Cancelar</button>
            </form>
            <button id="submit" name="submit" class="btn btn-indigo botonPequenno">Guardar</button> 
        </div>

