<div class="container center-align">
    <h4>Crear una nueva Entidad</h4>    
    <div class="row ">
        <div class="input-field col s6 offset-s3">
            <input id="name" type="text" name="name" class="validate">
            <label for="name">Nombre de la entidad</label>
        </div>
        <div class="input-field col s6 offset-s3">
            <p>Sinónimos</p>
            <input class="sinonym" name="sinonym" type="text" class="validate">
            <button class="btn btn-small waves-effect waves-light right" id="addSinonym" name="addSinonym">Añadir Sinónimo
                <i class="material-icons right">add</i>
            </button>
        </div>
        <div class="input-field col s6 offset-s3">        
        <button class="btn waves-effect waves-light" type="submit" id="submit" name="submit">Enviar
            <i class="material-icons right">send</i>
        </button>
        </div>
    </div>

</div>
