<!--<div id="body-wrapper" class="container center-align">
    <h4>Selección de Agents/Chatbot</h4>
    <div class="row">
    <a class="btn-floating btn-large waves-effect waves-light indigo right" href="/add" >
        <i class="material-icons">add</i>
        </a>
    </div>
    <ul id="bot_list" class="col s12  collection">
            {{#each this}}
                {{#if token}}
                    <li class="row collection-item">
                    <span class="col s6 ">{{ name }}</span>
                    <div class="divd col s6 right">
                        <button id= {{ token }} class="token indigo left btn btn-primary">
                            Seleccionar
                        </button>
                    </div>
                    </li>
                {{/if}}

            {{/each }}
    </ul>

</div>-->


 <form action="/add" class="formBots">
    <button class="btn btn-primary botonNuevoBot">Nuevo Bot</button>
 </form>
        <div class="card cardListado">
            <div class="card-body cardBodyListado d-flex flex-column collection" id="bot_list">
                {{#each this}}
                    {{#if token}}
                        <div class="itemListado">
                            <p class="nombreItemListado showToken">{{name}}</p>
                             <button type="button" class="btn btn-primary seleccionarItemListado token" id="{{token}}">Seleccionar</button>
                        </div>
                        <hr>
                    {{/if}}
                {{/each}}
            </div>
        </div>     
