.p5 {
  padding: 5px;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
      grid-template-areas: "nav nav" "aside aside" "main main" "footer footer";
}

@media screen and (min-width: 900px) {
  body {
        grid-template-areas: "nav nav" "aside main" "aside main" "footer footer";
  }
}

nav {
  min-height: 80px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: nav;
  background-color: #303F9F;
  -webkit-box-shadow: 0px 1px 11px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 11px 1px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.nav-wrapper span {
  font-size: 1rem;
}

@media screen and (min-width: 624px) {
  .nav-wrapper span {
    font-size: 2.1rem;
  }
}

.card-create {
  padding: 20px;
}

input[type="text"]:focus + label {
  color: #303F9F !important;
}

input[type="text"]:focus {
  border-bottom: 1px solid #303F9F !important;
  -webkit-box-shadow: 0 1px 0 0 #303F9F !important;
          box-shadow: 0 1px 0 0 #303F9F !important;
}

#list_intent, #list_entity {
  height: 75vh;
}

#dropdown-c li a {
  padding: 13px 5px;
}

.synonym_block {
  display: block;
}

@media screen and (min-width: 600px) {
  .synonym_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 624px) {
  .dropdown-create, #btn_create_entity {
    position: fixed;
    right: 5px;
    bottom: 10px;
    z-index: 3;
  }
}

@media screen and (min-width: 625px) {
  .dropdown-create {
    margin-right: 50px;
  }
}

@media screen and (min-width: 625px) {
  #btn_create_entity {
    margin-right: 50px;
  }
}

#btn_create {
  margin-top: 10px;
}

#btn-delete-entity {
  margin: 5px;
}

.btn-delete-variant, .btn-delete-synonym {
  margin: 5px;
}

aside {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: aside;
  background-color: #3F51B5;
}

aside ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 900px) {
  aside ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

aside ul a {
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

aside ul a:hover {
  color: #FFAB00;
  text-decoration: underline;
}

@media screen and (min-width: 900px) {
  aside ul a {
    line-height: 8em;
  }
}

#body-wrapper {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
}

footer {
  -webkit-box-shadow: 0 -3px 10px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -3px 10px 3px rgba(0, 0, 0, 0.2);
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 800px) {
  .footer-copyright .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.page {
  display: none;
}

.easyPaginateNav {
  width: 160px !important;
  margin: auto;
}

.easyPaginateNav a {
  color: #303F9F;
}

#btn-login, #btn-register {
  margin: 10px 0 20px;
}

.card-login {
  margin-top: 40px;
}

#login_link {
  margin-left: 10px;
}

@media screen and (max-width: 420px) {
  #login_link {
    position: absolute;
    top: 35px;
  }
}
/*# sourceMappingURL=frontend.css.map */